Pyhton Data Structure Assignment

QUESTIONS

1. What are data structures, and why are they important?

 -Data structure is a way of storing and organising of data in a way that it can be accessed and manipulate easily for further use .It is important because it make computer process large amount of data and make code easy to understand.

2. Explain the difference between mutable and immutable data types with examples

  -Differece between mutable and immutable data types is that in a mutable datatype we can modify the data means we can add, delete,insert etcwhereas in immutable datatype once it is created we cannot modify it means we cannot add,delete or insert any data simple we can change it.exapmle of mutable datatype is list, set and example of immutable data type is list,string.

3. What are the main difference between list and tuple in pyhton?

  -In python , list is a built-in datatype which store an ordered collection of data where the tuple in list is also a built-in datatype in python which stores an ordered collection of data but the difference is that list is a mutable datatype means we can change or modify the elements of list while tuple is an immutable datatype means we cannaot modify or change it once it is created.

4. Describe how dictionaries store data.

 -Dictonary is a built in datatype in python which stores data in key-value pairs.It is also unorders, mutable and indexed datatype. '{}' is used to define dictionary in pyhton.
 let us take a example of dictionary
 d={'name':'kaenat','age':20,'city':'patna'}
 In this above exapmle ,{} is used to define dictionary and 'name','age' and 'city' are keys whereas 'kaenat',20,'patna' is values . Dictonary always comes with key-value pair.

5. Why might you use a set instead of a list in Python?

 -We use set instead of a list in python beacuse set cannot have multiple occurences of same element means set removes all the duplicate elements from it ,stores unordered data elements and  it is faster for membership operator (in) and also it has various opertions like(union,intersection,difference and symmetric difference) which make it more suitable than list .

6. What is a string in Python, and how is it different from a list?

 - String in a built-in datatype in python. It is a sequence of characters enclosed in a single quote('')or double quote("") used to represent text based data .It is immutable datatype. It is diffrenet from a list as string can contain text based data and list can contain all the data whether it is int,float,complex number etc. list is mutable whereas string is immutable , we cannot add or delete the content of string in pyhton but we can replace it to a new value of strings which makes it different from the list.

7. How do tuples ensure data integrity in Python?

 - Tuples in python is a built-in data type which cannot be modified or changed once it is created means we cannot add, delete ,remove or insert anyhting in a tuple once it is created  as it is immutable. So in this way tuples ensure data integrity in python.

8. What is a hash table, and how does it relate to dictionaries in Python?

 - A hash table is a data structure that uses a hash function to compute an index, or hash code, for each key-value pair. The hash code determines which bucket in an array of buckets the data is stored in. This allows for quick access to data if the index is known.
 Python dictionaries are implemented using hash tables and the open addressing collision resolution method. The keys in a Python dictionary are generated using a hashing function.

9. Can lists contain different data types in Python?

 - Yes , list can contain different data types in python  as list stores heterogenous data means it stores int, float ,string,boolean,complex number etc.

10. Explain why strings are immutable in Python.

 - strings are immutable in python because once it is created it cannot be changed after . We cannot change or modify the elements of string .
 let us take an example
 a="america"
 a[0]="b"
 this throws an error as I'm trying to change the value of 0th index which is a into b . This shows that string is immutable.

11. What advantages do dictionaries offer over lists for certain tasks?

 -Dictionary offer advantages over lists as dictionary is easy to read, fast memory efficient, fast lookups(fast time complexity),flexibility (can store any type of data in key-value pair ),easy to modify etc.

12. Describe a scenario where using a tuple would be preferable over a list.

 - Tuples are immutable in nature means we cannot change the element of tuples once it is created so in case where we dont want to change the data elements throughout the code then we prefer to use tuple over a list.

13. How do sets handle duplicate values in Python.

 - Sets in python remove all the duplicate value from it means if we try to add an element in a set which is already there it simply removes it and doesnot add it into a set .

14. How does the “in” keyword work differently for lists and dictionaries?

 - 'in' is a membership operator in a pyhton . It is used differently in lists and dictionaries as 'in' used in list to check if the valus is an element of the list or not whereas 'in' is used in dictionaries to check if a key is the element of a dictionary or not.

15. Can you modify the elements of a tuple? Explain why or why not.

 - No, we cannot modify the elements of a tuple as it is immutable once it is created we cannot mofify it .

16. What is a nested dictionary, and give an example of its use case?

 - A nested dictionary is a collection of dictionaries within a single dictionary.It is a powerful tool used for storing and orginising data with a multiple layer . Its use case is-
 Employee records: Organize employees by department, with each employee's details in a nested dictionary.

17. Describe the time complexity of accessing elements in a dictionary?

 - In Python, the average time complexity for accessing an element in a dictionary is O(1), meaning that the time it takes to retrieve an element is constant and doesn't depend on the dictionary's size.But in worst case its time complexity becomes O(n).

18. In what situations are lists preferred over dictionaries?

 - List are preffered over dictionaries when the order of the elements matter as list is a ordered data structure whereas dictionary is an unordered data structure, when we need to store simple sequence of items ,when we need fast indexed based access,when we need to store duplicate value as dictionary donot contain same key value ,when we need to perform operations like slicing , adding , removing etc .

19. Why are dictionaries considered unordered, and how does that affect data retrieval?

 - Before Python 3.7 ,dictionaries were unordered meaning the order in which items were inserted into the dictionary had no effect on their order when we  retrieved them.The keys were stored in the hash table based on their hash values so the indexing were randonmly thats why dictionaries consoder unordered .

20. Explain the difference between a list and a dictionary in terms of data retrieval.

 - List and dictionaries are different in terms of data retrieval as if we want to access the data fromt he list we simple access it by uisng the index number but in dictionary it is an unordered set of key-value means we have to provide a unique key to retrive a data from a dictionary
 let us understand this by an example

In [ ]:
lis=[1,2,3,4]
print(lis[0])   #here [0] is the index value of the elements of a list which gives output =1

d={'name':'caroline','age':30,'qualification':'data science'}
print(d[qualification])    #here [qualificaton] is a key which is used to retreieve an element from the dictionary

Practical Questions

1. Write a code to create a string with your name and print it.

In [ ]:
str="kaenat afzal"
pirnt(str)

2. Write a code to find the length of the string "Hello World".

In [ ]:
str="Hello World"
print(len(str))

3. Write a code to slice the first 3 characters from the string "Python Programming".

In [ ]:
code='Python Programming'
print(code[0:3])

4. Write a code to convert the string "hello" to uppercase.

In [ ]:
str="hello"
print(str.upper())

5. Write a code to replace the word "apple" with "orange" in the string "I like apple".

In [ ]:
str='I like apple.'
print(str.replace('apple','orange'))

6. Write a code to create a list with numbers 1 to 5 and print it.

In [ ]:
numbers=[1,2,'cat','6+5j',9.8]
print(numbers)

7. Write a code to append the number 10 to the list [1, 2, 3, 4].

In [ ]:
num=[1,2,3,4]
num.append(10)
print(num)

8. Write a code to remove the number 3 from the list [1, 2, 3, 4, 5].

In [ ]:
num=[1,2,3,4,5]
num.remove(3)
print(num)

9. Write a code to access the second element in the list ['a', 'b', 'c', 'd'].

In [2]:
lis=['a','b','c','d']
print(lis[1])

b

10. Write a code to reverse the list [10, 20, 30, 40, 50].

In [4]:
lis=[10,20,30,40,50]
print(lis[::-1])

[50, 40, 30, 20, 10]

11. Write a code to reverse the list [10, 20, 30, 40, 50].

12. Write a code to access the first element of the tuple ('apple','banana','cherry')

In [5]:
tup=('apple','banana','cherry')
print(tup[0])

apple

13.  Write a code to count how many times the number 2 appears in the tuple (1, 2, 3, 2, 4, 2).

In [6]:
tup=(1,2,3,2,4,2)
print(tup.count(2))

3

14.  Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').

In [7]:
tup=('dog','cat','rabbit')
print(tup.index('cat'))

1

15.  Write a code to check if the element "banana" is in the tuple ('apple', 'orange', 'banana').

In [8]:
tup=('apple','orange','banana')
if 'banana'in tup:
  print("banana is present")
else:
  print("not present")

banana is present

16.  Write a code to create a set with elements 1,2,3,4,5 ad print it.

In [9]:
set={1,2,3,4,5}
print(set)

{1, 2, 3, 4, 5}

17.  Write a code to add the element 6 to the set {1, 2, 3, 4}.

In [11]:
set={1,2,3,4}
set.add(6)
print(set)

{1, 2, 3, 4, 6}

18.  Write a code to create a tuple with the elements 10, 20, 30 and print it.

In [12]:
tup=(10,20,30)
print(tup)

(10, 20, 30)

19. Write a code to access the first element of the tuple ('apple', 'banana', 'cherry').

In [13]:
tup=('apple','banana','cherry')
print(tup[0])

apple

20.  Write a code to count how many times the number 2 appears in the tuple (1, 2, 3, 2, 4, 2).

In [14]:
tup=(1,2,3,2,4,2)
print(tup.count(2))

3

21.  Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').

In [15]:
tup=('dog','cat','rabbit')
print(tup.index('cat'))

1

22.  Write a code to check if the element "banana" is in the tuple ('apple', 'orange', 'banana').

In [16]:
fruits=('apple','orange','banana')
if 'banana' in fruits:
  print("banana is present")
else:
  print("not present")

banana is present

23. Write a code to create a set with the elements 1, 2, 3, 4, 5 and print it.

In [17]:
num={1,2,3,4,5}
print(num)

{1, 2, 3, 4, 5}

24.  Write a code to add the element 6 to the set {1, 2, 3, 4}.

In [19]:
set={1,2,3,4}
set.add(6)
print(set)

{1, 2, 3, 4, 6}